.profile {
  @apply w-full flex flex-col gap-3 md:p-7 lg:p-9 justify-center;
}

.profile h1 {
  font-family: 'Signika Negative', sans-serif;
  @apply text-6xl font-bold flex justify-center md:justify-start lg:justify-start;
}

.profile h2 {
  font-family: 'Signika Negative', sans-serif;
  @apply text-3xl font-medium flex justify-center md:justify-start lg:justify-start;
}

.profile p {
  @apply text-base text-justify font-semibold text-gray-700;
}
