@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* https://colorhunt.co/palette/00676940a5789dde8be6ff94 */
    /* https://colorhunt.co/palette/d8efd395d2b355ad9bf1f8e8 */
    --background: 17, 24, 39; /* #111827 */
    --foreground: 241, 248, 232; /* #F1F8E8 */
    --primary: 64, 165, 120; /* #40A578 */
    --secondary: 230, 255, 148; /* #E6FF94 */
  }

  body {
    @apply bg-background text-foreground antialiased;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
}
