@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 244, 244, 244;
    --foreground: 85, 113, 116;
    --primary: 157, 173, 127;
    --secondary: 199, 207, 183;
  }

  body {
    @apply bg-background text-foreground antialiased;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
}
