@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap");

.text-shpere {
  @apply relative top-0 w-full h-screen flex justify-center items-center bg-gray-900;
}

.tagcloud {
  @apply inline-block top-0 left-0 w-full;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0625em;
  font-size: 0.8em;
}

.tagcloud--item {
  @apply select-none text-red-500;
}
