---
import "./glitch-text.css";
const { text, class: className } = Astro.props;
---

<div class={`stack ${className}`} style="--stacks: 3;">
  <span class="animate-when-visible" style="--index: 0;">{text}</span>
  <span class="animate-when-visible" style="--index: 1;">{text}</span>
  <span class="animate-when-visible" style="--index: 2;">{text}</span>
</div>
